<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Examples">

    <test name="Parameters">
        <parameter name="int1" value="10"></parameter>
        <parameter name="int2" value="9"></parameter>
        <classes>
            <class name="testing.dataprovider.ParametersExample"></class>
        </classes>
    </test>
    <!--<test name="Class Execution">
        <classes>
            <class name="Demo"></class>
        </classes>
    </test>
    <test name="group Example">
        <groups>
            <run>
                <include name="smoke"></include>
            </run>
        </groups>
        <packages>
            <package name="testing.attributestest"></package>
        </packages>
    </test>-->

</suite>